<section>
  <div class="container justify-content-center align-items-center vh-100">
    <div class="d-flex justify-content-between my-3">
      <div class="mb-3 w-50">
        <label for="customerNameFilter" class="form-label fw-bold">Filter by Customer Name:</label>
        <input
          type="text"
          id="customerNameFilter"
          [(ngModel)]="customerNameFilter"
          (input)="filterCustomers()"
          class="form-control"
        />
      </div>
      <div class="mb-3 w-50">
        <label for="transactionAmountFilter" class="form-label fw-bold">Filter by Transaction Amount (>=):</label>
        <input
          type="number"
          id="transactionAmountFilter"
          [(ngModel)]="transactionAmountFilter"
          (input)="filterCustomers()"
          class="form-control"
        />
      </div>
    </div>
    <table class="table table-striped">
      <thead class="table-primary">
        <tr>
          <th scope="col">Customer Id</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Total Amount</th>
          <th scope="col">Graph</th>
        </tr>
      </thead>
      <tbody *ngFor="let person of filteredCustomersWithTransactions">
        <tr>
          <th scope="row">{{ person.customer.id }}</th>
          <td>{{ person.customer.name }}</td>
          <td>{{ getCustomerTotalAmount(person.transactions) }}</td>
          <td>
            <button class="btn btn-info" (click)="onShowGraph(person.transactions)" data-bs-toggle="modal" data-bs-target="#graphModal">Show Graph</button>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let transaction of person.transactions">
                  <td>{{ transaction.date | date: 'short' }}</td>
                  <td>{{ transaction.amount }}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="graphModal" tabindex="-1" aria-labelledby="graphModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="graphModalLabel">Transaction Graph</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-auto">
        <ngx-charts-bar-vertical
          [view]="[700, 400]"
          [results]="barChartData"
          [gradient]="false"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]="'Date'"
          [yAxisLabel]="'Total Amount'"
          [barPadding]="5"
        >
        </ngx-charts-bar-vertical>
      </div>
    </div>
  </div>
</div>
